
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="footer">
        <p class="text-footer">Política de Privacidad</p>
        <p class="text-footer">© 2025 Creado por Rocío Martinez</p>
    </footer>
</body>
</html>