<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyect</title>
    <link rel='stylesheet' href='/stylesheets/project.css' /> 
    <link rel='stylesheet' href='/stylesheets/layout.css' />  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <%- include('./partials/navbar') %>
    <div class="container">
        <div class="card">
          <div class="box">
            <div class="content">
              <h2>01</h2>
              <h3>PEAK</h3>
              <p>Es un proyecto de E-commerce orientado a la venta de productos de senderismo y montaña</p>
              <a href="#">Leer más</a>
            </div>
          </div>
        </div>
      
        <div class="card">
          <div class="box">
            <div class="content">
              <h2>02</h2>
              <h3>Sist. de Procesamiento</h3>
              <p>En base de datos se simula una reseva de vuelo y hoteles </p>
              <a href="#">Leer más</a>
            </div>
          </div>
        </div>
      
        <div class="card">
          <div class="box">
            <div class="content">
              <h2>03</h2>
              <h3>Card Three</h3>
              <p>Simulación de mercado libre en diseño, maquetado con HTML y CSS</p>
              <a href="#">Leer más</a>
            </div>
          </div>
        </div>
      </div>

    <%- include('./partials/footer') %>
    
</body>
</html>