/* Estilos base */
* {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    height: 100%;
}

.body-class {
    font-family: "Inter", sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navbar completa */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(45deg, #ee4ac2, #E2E911);
    flex-wrap: wrap;
    width: 100vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    flex: 1;
    justify-content: flex-end;
}

.navbar a {
    text-decoration: none;
    color: #F9FAFB;
    font-weight: 600;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #f4e5f4;
    position: relative;
}

/* Subrayado solo en enlaces normales, excluyendo el botón CV */
.navbar a:not(.cv-button):hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    left: 0;
    bottom: -2px;
    animation: slideIn 0.3s forwards;
}

@keyframes slideIn {
    from {
        width: 0;
        left: 50%;
    }

    to {
        width: 100%;
        left: 0;
    }
}

.navbar a:active {
    color: #f4e5f4;
}

/* Estilos para el botón "Mi CV" */
.cv-button {
    background-color: #333300;
    color: #F9FAFB;
    padding: 10px 20px;
    border-radius: 12px;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.cv-button:hover {
    background-color: rgba(0, 0, 0, 0.9);
    color: #F9FAFB;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3), 0 0 20px rgba(255, 255, 255, 0.2);
    text-decoration: none !important;
}

.fa-arrow-down:before {
    content: "\f063";
    margin-right: 5PX;
}


/* Menu toggle */
.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-toggle i {
    color: #F9FAFB;
    font-size: 24px;
}

/* Responsiveness */
@media (max-width: 768px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .navbar ul.show-menu {
        display: flex;
        padding-top: 12px;
        padding-bottom: 5px;
        text-align: start;
    }

    .menu-toggle {
        display: block;
    }
}

/* FOOTER */
.footer {
    width: 100%;
    position: relative;
    background: linear-gradient(45deg, #E2E911, #ee4ac2);
    color: #0A192F;
    text-align: center;
}

.text-footer {
    font-size: 13px;
    line-height: normal;
    padding-top: 7px;
    padding-bottom: 2px;
    margin-bottom: -3px;
}