/* Estilos base */
* {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    height: 100%;
}

.body-class {
    font-family: "Inter", sans-serif;
    background-color: #0A192F;
    margin: 0;
    padding: 0;
    color: #E2E8F0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navbar completa */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0D1117;
    flex-wrap: wrap;
    width: 100vw; /* Asegurar que ocupe el 100% del ancho de la pantalla */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Añadir sombra para destacar */
    position: fixed; /* Navbar fija en la parte superior */
    top: 0;
    left: 0;
    z-index: 1000; /* Asegura que la navbar esté encima de otros elementos */
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    flex: 1; /* Asegura que el ul ocupe todo el ancho posible */
    justify-content: flex-end; /* Alinea el menú a la derecha */
}

.navbar a {
    text-decoration: none;
    color: #F9FAFB;
    font-weight: 600;
    transition: color 0.3s ease, text-shadow 0.3s ease, background-color 0.3s ease;
}

.navbar a:hover {
    color: #f4e5f4;
    text-shadow: 0 0 10px #ee4ac2, 0 0 20px #E2E911;
}

/* Efecto al seleccionar una opción */
.navbar a:active {
    background-color: #444c56; /* Color de fondo al hacer clic */
    color: #ffffff; /* Color del texto al hacer clic */
    text-shadow: none; /* Eliminar sombra de texto al hacer clic */
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3); /* Efecto de "presionar" */
}

.cv-button {
    background-color: #FF6B1A;
    color: #F9FAFB;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.cv-button:hover {
    background-color: #10B981;
    box-shadow: 0 6px 12px #00b6d44d;
    text-shadow: 0 0 10px #f8f8f8, 0 0 20px #ee4ac2;
}

/* Menu toggle */
.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-toggle i {
    color: #F9FAFB;
    font-size: 24px;
}

/* Responsiveness */
@media (max-width: 768px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .navbar ul.show-menu {
        display: flex;
        padding-top: 12px;
        padding-bottom: 5px;
    }

    .menu-toggle {
        display: block;
    }
}

/* FOOTER */
.footer {
    background: black;
    padding: 10px; /* Aumentar padding para dar más espacio */
    text-align: center;
    color: white;
    width: 100%; /* Asegura que el footer ocupe todo el ancho de la pantalla */
    position: absolute; /* Permitir que el contenido principal empuje el footer hacia abajo */
    bottom: 0;
    left: 0;
}

.text-footer {
    font-size: 13px;
    line-height: normal;
    padding-top: 7px;
    padding-bottom: 2px;
    margin-bottom: -3px;
}
