/* Estilos generales */
.container-sk {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94vh;
    background-color: #f4f4f4;
    padding: 20px;
}

.skills-container {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    width: 100%;
    text-align: center;
    margin-top: 7vh;
}

.skills-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.skills-section {
    margin-bottom: 20px;
}

.skills-section h2 {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 10px;
}

.skill {
    margin-bottom: 15px;
    text-align: left;
}

.skill-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.progress-bar {
    background: #ddd;
    border-radius: 20px;
    height: 10px;
    overflow: hidden;
}

.progress {
    height: 100%;
    border-radius: 20px;
    transition: width 1s ease-in-out;
}

/* Colores personalizados para cada habilidad */
.javascript {
    width: 80%;
    background: #f7df1e;
}

.html-css {
    width: 90%;
    background: #ff5722;
}

.react {
    width: 75%;
    background: #61dbfb;
}

.java {
    width: 70%;
    background: #007396;
}

.sequelize {
    width: 65%;
    background: #3c78c6;
}

.mysql {
    width: 85%;
    background: #00758f;
}